body {
    text-align: center;
    color: #000000;
    background-color: #f0f0f0;
}
#button {
    padding: 10px 20px;
    color: #000000;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 100px;
    transition: transform 0.2s ease, padding 0.2s ease;
}
#button2 {
    padding: 10px 20px;
    color: #000000;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.2s ease, padding 0.2s ease;
}
#button.hovered {
  transform: scale(0.95);
}
#button2.hovered {
  transform: scale(0.95);
}
img {
    display: block;
    margin: 0px auto 0 auto;
    padding: 30px;
}